/* home page  */
/* Saatnya bikin  */
.brief{
    height: 300px;
    min-height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}



/* three dot */

.gap-up{
    margin-top:50px;
}
.dot-container {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #747373;
    animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
/* whatsapp  */
.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px; /* Distance from the bottom of the screen */
  left: 20px; /* Distance from the right side of the screen */
  background-color: #25D366; /* WhatsApp green color */
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px; /* Makes the button rounded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for better visibility */
  text-decoration: none;
  font-size: 16px; /* Font size for the text */

}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.whatsapp-button i {
  margin-right: 8px; /* Space between icon and text */
}

.whatsapp-button .button-text {
  font-size: 16px; /* Adjust font size as needed */
}


.whatsapp-icon {
    /* position: fixed; */
    /* left: 20px; */
    /* bottom: 20px; */
    margin-left: 15px; /*  Adjust as needed */
    margin-right:5px;

    /* Customize icon styles (e.g., font-size, color) */
}


/* Basic link styling */
.whatsapp-link {
    text-decoration: none; /* Remove underline from links */
    color: rgb(255, 255, 255); /* Default text color */
    font-family: Arial, sans-serif; /* Font family for the text */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
}

/* Hover effect */
.whatsapp-link:hover {
    color: #25D366; /* Change text color on hover (WhatsApp green) */
    transform: scale(1.1); /* Slightly enlarge the link on hover */
}

/* Optional: add a hover effect for the icon if you want */
/* .whatsapp-link:hover .whatsapp-icon {
    color: #25D366; 
} */


.small-font {
    font-size: 0.8em;
}

.icon {
    display: inline-block;
    width: 36px; /* Adjust as needed */
    height: 36px; /* Adjust as needed */
    background-image: url('../../../media/images/tokopedia-icon.png');
    background-size: cover; /* Ensures the image covers the container */
    background-repeat: no-repeat; /* Prevents repeating the image */
    vertical-align: middle; /* Aligns with text vertically */
    /* margin-right: 8px; */
}


.section-intro{
    display: flex;
    /* margin-top:10px; */
    margin-bottom:10px;
    /* margin:auto; */
    /* margin:20px 0px 20 0px; */
    align-items: center;
    height:200px;
    background: linear-gradient(to right,rgb(11 147 63 ) 50%, rgb(21 75 163) 50%); /* Two-color gradient */

}
.section-intro p{
    color:#ffff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    /* margin-top: 20px; */
    /* height:500px; */

}
.section-custom{
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(21 75 163); */

}

.dropdown-menu {
    margin-top: 0; /* Adjust as needed */
    margin-bottom: 0; /* Ensure there's no extra space at the bottom */
    padding: 0.5rem 0; /* Adjust padding to fit your design */
    border-radius: 0.25rem; /* Optional: match the border radius with your design */
}

/* nav dropdown left */
.dropdown-menu-left {
    left: auto;
    right: 100%;
    margin-right: 10px; /* Adjust this margin as needed */
}



















/* this is the product page css */
/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}*/
.container {
    /* width: 80%; */
    margin: auto;
    overflow: hidden; 
}


@media (max-width: 768px) {
    .headproduct h1 {
      font-size: 30px; /* Smaller font-size for tablets and phones */
    }
  }
  
  @media (max-width: 480px) {
    .headproduct h1 {
      font-size: 25px; /* Even smaller font-size for very small screens */
    }
  }
.headproduct{
    display: flex;
    /* flex-wrap: wrap; 
    justify-content: space-between;
    margin-left :300px; */
    padding-top:40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items:center; 
    position: relative;
    /* background:rgb(11 147 63 ); */
    color: #0b0b0b;
    /* gap: 0px; Optional: space between flex items */
    border-left: 50px solid rgsb(255, 255, 255);  
    border-right: 50px solid rgb(21 75 163);
    border-radius:0px;
    /* padding-top: 30px; */
    /* min-height: 70px; */
    /* border-bottom: #fff 3px solid; */
    font-family:  'Montserrat', sans-serif;
}
.headproduct h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;


}
/* header {
    position: relative;
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #fff 3px solid;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
} */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    width: 30%;
    text-align: center;
}
.product img {
    height: 200px; /* Set the height of the image */
    width: auto; /* Automatically adjust width to maintain aspect ratio */
    object-fit: cover; /* Ensure image covers the specified height without distortion */
    margin-bottom: 8px;
    max-width: 100%;
    border-radius: 8px;
}
.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
.product p {
    color: #555;
    font-size: 1em;
}
.product .price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}
.product button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.product button:hover {
    background: #555;
}
@media (max-width: 768px) {
    .product {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* navbar overlapping */

/* <<< Mobile Menu button >>> */
.navbar-button {
    width: 50px;
    height: 47px;  
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    z-index: 9;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #fff;
    padding: 10px;
    border-radius: 0;
    display: none;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  }
  
  @media (max-width: 991px) {
    .navbar-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .navbar-button:focus {
    border: 0;
    outline: 0;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  }
  
  .navbar-button .menu_icon {
    margin: 0;
    padding-top: 1px;
    float: left;
    width: 25px;
    height: 22px;
    position: relative;
    cursor: pointer;
  }
  
  .navbar-button .menu_icon .icon-bar {
    display: block;
    position: absolute;
    opacity: 1;
    width: 25px;
    height: 3px;
    background-color: #6699cc;
    /* background-color: #15a315; */
    margin: 0 auto;
    left: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  .navbar-button .menu_icon .icon-bar:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(145deg);
    /* WebKit */
    /* Mozilla */
    /* Opera */
    /* Internet Explorer */
    transform: rotate(140deg);
    /* CSS3 */
  }
  
  .navbar-button .menu_icon .icon-bar:nth-child(2) {
    top: 8px;
    opacity: 0;
    left: -10px;
  }
  
  .navbar-button .menu_icon .icon-bar:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-145deg);
    /* WebKit */
    /* Mozilla */
    /* Opera */
    /* Internet Explorer */
    transform: rotate(-140deg);
    /* CSS3 */
  }
  
  .navbar-button.collapsed .icon-bar {
    -webkit-transform: rotate(0deg);
    /* WebKit */
    /* Mozilla */
    /* Opera */
    /* Internet Explorer */
    transform: rotate(0deg);
    /* CSS3 */
  }
  
  .navbar-button.collapsed .icon-bar:nth-child(1) {
    top: 0;
    -webkit-transform: rotate(0deg);
    /* WebKit */
    /* Mozilla */
    /* Opera */
    /* Internet Explorer */
    transform: rotate(0deg);
    /* CSS3 */
  }
  
  .navbar-button.collapsed .icon-bar:nth-child(2) {
    top: 10px;
    left: 0;
    opacity: 1;
  }
  
  .navbar-button.collapsed .icon-bar:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(0deg);
    /* WebKit */
    /* Mozilla */
    /* Opera */
    /* Internet Explorer */
    transform: rotate(0deg);
    /* CSS3 */
  }
  
  /* <<< Navigation >>> */
  .navbar {
    padding: 0;
    margin-bottom: 0;
    /* height: 100% !important; */
  
  }
  .navbar-custom{
   background-image:linear-gradient(150deg, rgb(11 147 63 )40% ,rgb(21 75 163)  ); 
  }
  .navbar .navbar-collapse {
    display: flex;
    height: 50% !important;
    padding-left: 61px;
    padding-right: 61px;
  }
  
  @media (max-width: 1366px) {
    .navbar .navbar-collapse {
      padding-left: 31px;
      padding-right: 21px;
    }
  }
  
  .navbar .navbar-nav { position: relative; }
  
  @media (max-height: 580px) {
    .navbar .navbar-nav { padding-top: 30px; }
  }
  
  .navbar .navbar-collapse::before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #fff;
    height: 100%;
    top: 0;
  }
  
  .navbar .navbar-nav > .nav-item {
    font-weight: 500;
    font-size: 18px;
    background-image: url(../../../../media/img/menu-item-bg.png);
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 82px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 66px;
    margin-bottom: 38px;
  }
  
  @media (max-width: 1366px) {
    .navbar .navbar-nav > .nav-item {
      font-size: 16px;
      padding-left: 53px;
    }
  }
  
  .navbar .navbar-nav > .nav-item .icn {
    padding-right: 20px;
    display: inline-block;
  }
  
  @media (max-width: 1366px) {
    .navbar .navbar-nav > .nav-item .icn { padding-right: 10px; }
  }
  
  .navbar .navbar-nav > .nav-item:last-child { margin-bottom: 0; }
  
  .navbar .navbar-nav > .nav-item:hover > a.nav-link,
  .navbar .navbar-nav > .nav-item.active > a.nav-link,
  .navbar .navbar-nav > .nav-item.current-menu-ancestor > a.dropdown-toggle {
    background-color: transparent;
    outline: 0;
    color: #99ccff;
    /* color:   #15a315; */
  
    transition: all 0.3s ease;
  }
  
  .navbar .navbar-nav > .nav-item > a.nav-link {
    color: #fff;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    padding: 0;
  }
  
  .navbar .navbar-nav > .nav-item > a.nav-link.current { color: #99ccff; }
  
  .navbar .navbar-nav > .nav-item > a.nav-link.dropdown-toggle::after {
    content: '';
    vertical-align: middle;
  }
  
  @media (max-width: 767px) {
    .navbar .navbar-nav > .nav-item > a.nav-link.dropdown-toggle::after { display: none; }
  }
  
  @media (max-width: 767px) {
    .navbar .navbar-nav > .nav-item > a.nav-link {
      padding: 10px;
      color: #fff;
    }
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu {
    padding: 0;
    width: auto;
    border-radius: 0;
    border: 0;
    margin: 0;
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item {
    font-size: 16px;
    font-weight: 300;
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item > a.dropdown-item {
    border-bottom: 0;
    color: #fff;
    padding: 5px;
  }
  
  @media (max-width: 767px) {
    .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item > a.dropdown-item {
      padding-left: 20px;
    }
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item > a.dropdown-item.dropdown-toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item > a.dropdown-item.dropdown-toggle::after {
    height: 2px !important;
    background-color: cyan;
    opacity: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 0;
    margin-left: 10px;
    display: block;
  }
  
  @media (max-width: 767px) {
    .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item > a.dropdown-item.dropdown-toggle::after {
      display: none;
    }
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item:hover > a,
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item.active > a,
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item.current-menu-ancestor > a.dropdown-toggle {
    font-weight: 500;
    color: #fff;
    /* background-color: lightblue; */
    background-color: #15a315;
  
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item:hover > a.dropdown-toggle::after {
    opacity: 1;
  }
  
  .navbar .navbar-nav > .nav-item ul.dropdown-menu .nav-item ul.dropdown-menu {
    padding: 0;
  }
  
  @media (max-width: 767px) {
    .navbar .navbar-nav .caret::before {
      margin-left: 10px;
      font-size: 26px;
      content: '\f107';
      font-family: "fontawesome";
      vertical-align: middle;
    }
    .navbar .navbar-nav .caret.caret-open::before {
      content: '\f106';
    }
  }
  
  @media only screen and (min-width: 768px) {
    /**:: First Dropdown ::**/
    .navbar .navbar-collapse ul li {
      position: relative;
    }
    .navbar .navbar-collapse ul li:hover > ul {
      display: block;
    }
    .navbar .navbar-collapse ul ul {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 250px;
      display: none;
      /* background-color: dodgerblue; */
      background-color: #15a315;
    }
    /**:: Second Dropdown ::**/
    .navbar .navbar-collapse ul ul li {
      position: relative;
    }
    .navbar .navbar-collapse ul ul li:hover > ul {
      display: block;
    }
    .navbar .navbar-collapse ul ul ul {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 250px;
      display: none;
      background-color: aqua;
    }
    /**:: Third Dropdown ::**/
    .navbar .navbar-collapse ul ul ul li {
      position: relative;
    }
    .navbar .navbar-collapse ul ul ul li:hover ul {
      display: block;
    }
    .navbar .navbar-collapse ul ul ul ul {
      position: absolute;
      top: 0;
      left: -100%;
      min-width: 250px;
      display: none;
      z-index: 1;
      background-color: bisque;
    }
    /**:: Fourth Dropdown ::**/
    .navbar .navbar-collapse ul ul ul ul li {
      position: relative;
    }
    .navbar .navbar-collapse ul ul ul ul li:hover ul {
      display: block;
    }
    .navbar .navbar-collapse ul ul ul ul ul {
      position: absolute;
      top: 0;
      left: -100%;
      min-width: 250px;
      display: none;
      z-index: 1;
      background-color: fuchsia;
    }
  }
  
  @media (max-width: 991px) {
    .navbar .navbar-nav {
      padding-top: 5px;
      margin-bottom: 0;
    }
  
    .navbar .navbar-collapse { padding-left: 0; }
    .navbar .navbar-collapse::before { height: 0; }
  
    .navbar .navbar-nav > .nav-item {
      min-height: 45px;
      margin-bottom: 10px;
      background-size: contain;
    }
  
    .navbar .navbar-nav > .nav-item { padding-left: 30px; }
    .nav-link .fa-2x { font-size: 1.2em; }  
  }
  



.size_contacts{
    /* display:flex; */
    position: relative;
    font-size:20px !important;
    /* margin-bottom:10px; */

}
/* .size_contacts p{
    text-align: center;
    font-size:30px;

} */

@media (max-width: 768px) {
    .size_contacts {
      font-size: 15px !important;/* Smaller font-size for tablets and phones */
      height:400px;
      margin-bottom: 20px;

    }
  }

  @media (max-width: 480px) {
    .size_contacts {
      font-size: 15px !important; /* Smaller font-size for tablets and phones */
      height:400px;
      margin-bottom: 20px;

    }
  }